*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenido{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

aside{
  width: 30%;
  min-height: 100vh;
  background-color: #211474;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header{
height:  200px;
background-color: #386292;
color: white;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

article{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section{
  width: 500px;
  height: 710px;
  background-color: #151E95;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

